@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap')

li
    list-style-type: none
    font-family: 'Poppins', sans-serif
    float: right
    margin-right: 90px
    padding: 15px 5px 5px 5px
    color: #5F5F5F
    font-weight: 500
    cursor: pointer
    
li:first-child
    float: left
    color: #682AE9
    font-weight: 600
    font-size: 36.5px
    margin-left: 85px

li:nth-child(2)
    padding-top: 5px

li.active
    border-bottom: 2px #682AE9 solid
    color: #682AE9

li:last-child
    display: none

div.wrapper:first-child
    padding-top: 25px
    background: linear-gradient(1.44deg, #624DE3 -102.76%, rgba(98, 77, 227, 0) 123.48%)
    height: 666px

div.header
    position: absolute
    left: 11vw
    top: 150px
    margin-right: 10px

h3.subtitle
    font-family: 'Poppins'
    font-style: normal
    font-weight: 700
    font-size: 70px
    color: #FFFFFF
    margin-bottom: -5px

h1.title
    font-family: 'Poppins'
    font-size: 95px
    color: #682AE9
    font-weight: 700
    margin-top: -35px
    margin-bottom: 0px
    br
        display: none

h6.slogan
    font-family: 'Poppins'
    font-size: 30px
    color: #FFFFFF
    margin-top: -5px
    margin-bottom: 35px
    br
        display: none

button.menu_btn
    box-shadow: 4px 4px 14px -6px #000000
    background: #682AE9
    color: white
    font-family: 'Poppins'
    border-radius: 50px
    padding: 3px 45px 3px 45px
    font-size: 15px

div.profile_image
    position: absolute
    right: 15vw
    top: 200px

div.profile_image div img.image
    pointer-events: none
    height: 350px
    border: 5px white solid
    position: absolute
    z-index: 2
    right: 50%

div.profile_image div img.dots1
    pointer-events: none
    position: absolute
    right: -70px
    top: -20px
    z-index: 1

div.profile_image div img.dots2
    pointer-events: none
    position: absolute
    right: 180px
    top: 260px
    z-index: 1

div.wrapper:nth-child(2)
    height: 800px
    div.grid_wrapper
        margin: 160px 50px 30px 14vw
        height: 800px
        display: grid
        grid-template-rows: 80px 200px 
        grid-template-areas: ". . . . box4 box4 box5 box5 box5 box5 box5 box5" ". box1 box1 . box4 box4 box5 box5 box5 box5 box5 box5" ". box1 box1 box2 box2 . box5 box5 box5 box5 box5 box5" ". . . box2 box2 . box5 box5 box5 box5 box5 box5" "box3 box3 box3 box2 box2 . box5 box5 box5 box5 box5 box5"
        div.box1
            grid-area: box1
            width:0
            min-width: 500px
            height: 500px
            background: linear-gradient(0deg, #624DE3 -25.59%, white 100%)
            margin-left: -50px
            margin-right: -50px
            img
                position: relative
                pointer-events: none
                width: 350px
                height: auto
                top: 27%
                left: 50%
                transform: translate(-50%, -50%)
        div.box2
            grid-area: box2
            width:0
            min-width:100%
            position: relative
            left: -11.5vw
            top: 12px
            img
                width: 280px
                border: 8px white solid
                pointer-events: none
        div.box3
            grid-area: box3
            width:0
            min-width:100%
        div.box4
            grid-area: box4
            width:0
            min-width:100%
        div.box5
            grid-area: box5
            width:0
            min-width:100%
            margin-left: -140px
            h4
                margin-top: 0
                font-family: 'Poppins'
                font-style: normal
                font-weight: 600
                font-size: 50px
                line-height: 75px
                color: #624DE3
            p
                position: relative
                right: 10px
                font-family: 'Inter'
                font-style: normal
                font-weight: 400
                font-size: 22px
                line-height: 35px
                color: #4F4E4E
                padding-right: 150px

@media screen and (max-width: 1850px)
    div.wrapper:nth-child(2)
        div.grid_wrapper
            margin-left: 15px
            div.box5
                margin-left: -100px
                margin-left: 0
                p
                    padding-right: 0

@media screen and (max-width: 1400px)
    div.wrapper:nth-child(2)
        div.grid_wrapper
            div.box5
                margin-left: 40px
    li
        display: none
        
    li:first-child
        display: block
        float: left
        color: #682AE9
        font-weight: 600
        font-size: 36.5px
        margin-left: 0px
    
    li:last-child
        display: block
        position: absolute
        right: 20px
        top: 50px
        margin: 0
        button.menu_btn
            padding: 0
            background: transparent
            box-shadow: none
            color: #682AE9
            transform: scale(1.5)

    h1.title
        br
            display: block

    h6.slogan
        br
            display: block

    div.profile_image
        position: absolute
        top: 300px

    div.wrapper:first-child
        padding-top: 25px
        background: linear-gradient(1.44deg, #624DE3 -102.76%, rgba(98, 77, 227, 0) 123.48%)
        height: 900px

@media screen and (max-width: 1075px)
    div.profile_image
        position: absolute
        right: unset
        left: 360px
        top: 800px

    div.profile_image div img.image
        height: 250px

    div.profile_image div img.dots1
        pointer-events: none
        position: absolute
        right: -70px
        top: -20px
        z-index: 1

    div.profile_image div img.dots2
        pointer-events: none
        position: absolute
        right: 60px
        top: 160px
        z-index: 1

    div.wrapper:first-child
        height: 1150px

@media screen and (max-width: 775px)
    div.wrapper:first-child
        height: 950px

    h3.subtitle
        font-size: 45px

    h1.title
        font-size: 75px
        

    div.profile_image
        position: absolute
        right: unset
        left: 300px
        top: 700px

    div.profile_image div img.image
        height: 200px

    div.profile_image div img.dots1
        pointer-events: none
        position: absolute
        right: -40px
        top: -20px
        height: 120px
        z-index: 1

    div.profile_image div img.dots2
        pointer-events: none
        position: absolute
        right: 60px
        height: 120px
        top: 120px
        z-index: 1
    