<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="wrapper">
  <nav>
    <ul>
      <li>Michael Prietl</li>
      <li>
        <button mat-flat-button class="menu_btn">Contact</button></li>
      <li>Portfolio</li>
      <li>Services</li>
      <li>About me</li>
      <li class="active">Home</li>
      <li>
        <button mat-button class="menu_btn">
          <mat-icon>menu</mat-icon>
      </button>
      </li>
    </ul>
  </nav>
  <div class="header">
    <h3 class="subtitle">Hi! I Am</h3>
    <h1 class="title">Michael <br> Prietl</h1>
    <h6 class="slogan">A professional Web <br> Developer</h6>
    <button mat-flat-button class="menu_btn">Contact</button>
  </div>
  <div class="profile_image">
    <div>
      <img class="dots1" src="../assets/dots.png" alt="">
      <img class="image" src="../assets/header_img.png" alt="">
      <img class="dots2" src="../assets/dots.png" alt="">
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="grid_wrapper">
    <div class="box1">
      <img src="../assets/car_img.jpeg" alt="">
    </div>
    <div class="box2"></div>
    <div class="box3"></div>
    <div class="box4"></div>
    <div class="box5">
      <h4>About Me</h4>
      <p>I am 19 years old and from Austria. I am a freetime developer. I do mostly web development but also like to program other types of projects. At the moment I am in a network IT apprenticeship, which I will finish in April 2023.</p>
      <p>Besides programming I am also interested in cars, music and like to play some video games from time to time. I like to travel and try to get to know more places in the future.</p>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
